<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Booklet Viewer</title>
  <script type="text/javascript">
    document.getElementById("avatar").onclick = function () {
        location.href = "User.html";
    };
    document.getElementById("logo").onclick = function () {
        location.href = "Login.html";
    };
  </script>
  <link rel="stylesheet" type="text/css" media="all" href="../static/assets/css/booklet.css" th:href="@{/assets/css/booklet.css}"/>
</head>

<body>
<div>
  <img id="logo" src="../static/assets/images/tiny.jpg" alt="Logo">
  <h1>View A Booklet</h1>
  <img id="avatar" src="../static/assets/images/pfp.jpg" alt="Logo">
</div>
<div class="searchBar">
  <input type="text" id="searchBar" name="searchbar" placeholder="Find a booklet by its name..." onkeyup="searchBooklet()">
  <button onclick="">Search</button>
</div>

<div id="stockCarousel">

  <div>

    <embed src="../../../../../files/level1/TDS_vinyl_coat.pdf" class="displayItem"/>
    Preview a single PDF document relatively full screen

  </div>

</div>
</body>

<footer>
  All material on this Website is owned by Stinky Boys, INC. <br>
  Any reproduction or use of its content is prohibited without permission of its owner. <br>
  Stinky Boys, INC © 2024
</footer>
</html>