<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Booklets</title>
  <script type="text/javascript">
    document.getElementById("avatar").onclick = function () {
        location.href = "User.html";
    };
    document.getElementById("logo").onclick = function () {
        location.href = "Login.html";
    };
  </script>
  <link rel="stylesheet" type="text/css" media="all" href="../static/assets/css/index.css" th:href="@{/assets/css/index.css}"/>
</head>

<body>
<div>
  <h1><img id="logo" src="../static/assets/images/tiny.jpg" alt="Logo">Booklets</h1>
  <img id="avatar" src="../static/assets/images/pfp.jpg" alt="Logo">
</div>
<div class="searchBar">
  <input type="text" id="searchBar" name="searchbar" placeholder="Find a booklet by its name..." onkeyup="searchBooklet()">
  <button onclick="">Search</button>
</div>

<div id="bookletDisplay" th:unless="${#lists.isEmpty(recentlyViewedBooklets)}">
  <h3>Recently Viewed:</h3>

    <li><a href="../../../../files/level1/silverSA_TDSDec2016.pdf">silverSA_TDSDec2016</a></li>
    <br><br><br>

    <li><a href="../../../../files/level2/brAlloy25C17200StripDataSheet.pdf">brAlloy25C17200StripDataSheet</a></li>
    <br><br><br>

    <li><a href="../../../../files/level2/jotunSurface37f.pdf">jotunSurface37f</a></li>
    <br><br><br>

    <li><a href="../../../../files/level1/TDS_vinyl_coat.pdf">TDS_vinyl_coat</a></li>
</div>
</body>

<div class="wrapper">
  <footer>
    All material on this Website is owned by Fairfield University. <br>
    Any reproduction or use of its content is prohibited without permission of its owner. <br>
    Fairfield University © 2024
  </footer>
</div>
</html>