<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Sign In</title>
  <link rel="stylesheet" type="text/css" media="all" href="../static/assets/css/login.css" th:href="@{/assets/css/login.css}"/>
</head>
<body>
  <div class="blocked">
    <div class="imgcontainer">
      <img src="../static/assets/images/logo.jpg" alt="Avatar" class="avatar"
           th:src="@{/images/logo.png}">
    </div>

    <div class="container">
      <p th:if="${loginError}" class="error">Wrong user or password</p>
      <form th:action="@{/login}" method="post">
        <label for="username">Username</label>:
        <input type="text" placeholder="johnsmith@example.com" id="username" name="username" autofocus="autofocus" /> <br />
        <label for="password">Password</label>:
        <input type="password" id="password" name="password" placeholder="*****"/> <br />
        <input type="submit" value="Log in" />
      </form>
    </div>
  </div>
  <div class="container-bottom" style="background-color:#f1f1f1">
    <footer class="foot">All Rights Reserved 2024</footer>
  </div>
</body>
</html>
